<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Car rent</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1 th:utext="${message}" style="position: relative; left: 35%"></h1>
    <div th:if="${not #lists.isEmpty(cars)}">
        <div class="container">
            <button type="button" class="btn btn-primary" th:if="${session.isManager}"
                    th:onclick="|window.location.href='cars/add'|">Add
            </button>
            <button type="button" class="btn btn-primary" th:if="${session.isManager}"
                    th:onclick="|window.location.href='orders'|">Orders
            </button>

        </div>
        <h2 style="position: relative; left: 45%">Cars List</h2>
        <table class="table table-striped">
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Available</th>
                <th></th>
            </tr>
            <tr th:each="car : ${cars}">
                <td th:text="${car.manufacturer}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.year}"></td>
                <td th:text="${car.price}"></td>
                <td th:text="${car.available}"></td>
                <td>
                    <form th:unless="${session.isManager}" th:if="${car.available}" th:method="post"
                    th:action="@{orders/create/{id}(id=${car.id})}">
                        <button type="submit" class="btn btn-primary">Order</button>
                    </form>
                </td>
                <td>
                    <form th:if="${session.isManager}" th:method="post" th:action="@{cars/delete/{id}(id=${car.id})}">
                        <button type="submit" class="btn btn-danger">
                            Remove
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>

</html>