<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="container">
        <h1 style="position: relative; left: 35%">Orders management</h1>
        <button type="button" class="btn btn-primary" th:if="${session.isManager}"
                th:onclick="|window.location.href='index'|">Back
        </button>
    </div>
    <div th:if="${not #lists.isEmpty(orders)}">
        <h2 style="position: relative; left: 45%">Orders List</h2>
        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Car ID</th>
                <th>Client ID</th>
                <th>Manager ID</th>
                <th></th>
            </tr>
            <tr th:each="order : ${orders}">
                <td th:text="${order.date}"></td>
                <td th:text="${order.car.id}"></td>
                <td th:text="${order.client.id}"></td>
                <td th:text="${order.manager.id}"></td>
                <td>
                    <form th:if="${session.isManager}" th:method="post"
                          th:action="@{orders/delete/{id}(id=${order.id})}">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>

</html>